

.main .top_background {
    width: 100%;
    height: 100vh;
    background-image: url("DSC_2440.jpg");
    background-position: center;
    background-size: cover;
}

.main .top_background .box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff9f;
    transition: background-color 300ms;
}

.dark .main .top_background .box {
    background-color: #0000009f;
}

.main .top_background .box .container {
    padding-left: 40px;
    padding-right: 40px;
}

.main .top_background .box .container .title {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 900;
    color: black;
    transition: color 300ms;
}

.dark .main .top_background .box .container .title {
    color: white;
}

.main .top_background .box .container .text {
    margin-bottom: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    transition: color 300ms;
}

.dark .main .top_background .box .container .text {
    color: white;
}

.main .top_background .box .container .btn {
    padding: 8px 20px;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms, color 300ms, border-color 300ms;
}

.main .top_background .box .container .btn.type1 {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.dark .main .top_background .box .container .btn.type1 {
    border: 2px solid white;
    color: white;
}

.main .top_background .box .container .btn.type2 {
    border: 2px solid black;
    background-color: black;
    color: white;
}

.dark .main .top_background .box .container .btn.type2 {
    border: 2px solid white;
    background-color: white;
    color: black;
}

@media screen and (max-width: 479px) {

    .main .top_background .box .container .btn {
        display: block;
        margin-right: 0px;
        margin-bottom: 15px;
    }

}
